.buttonLogin{
    background-color:#333333;
    color: #ffffff !important;
    width: 10%;
    height: 35px;
    text-align: center;
    font-size: medium;
    float: center;
    border-radius: 6px;
}

.field-input{
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.form-control {
    width: 30%;
}