

/* Estilo da Tabela */
.content-table {
  width: 95vw;
  border-collapse: collapse;
  margin: 25px 30px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}


.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Estilo botões paginação */
.btn-wrapper {
  padding-left: 33%;
  margin-bottom: 30px;
}
.btn-wrapper :hover {
  color: black;
  background-color: #f3f3f3;
}

.btn-pagination {
  background-color: #009879;
  border-radius: 5px;
  margin-right: 10px;
  color: #f3f3f3;
  border: 2px solid #009879;
}

h2 {
  text-align: center;
}


