
.btn.btn-primary {
  background-color: #f4f4f4 !important;  
  color: #2d3d57 !important;   
  font-size: 1.5rem;
}

.iconFaq {
 position: absolute;
  right: 20px;
  top: 22px;
}

.iconFaq:active {
  transform: rotate(180deg);
  transition: 0.5s;
}

.imgFaq {
  top:82%;
  left: 90%;
  position: absolute;
  width: 50%;
}

.btn.btn {
  width: 95%;
  text-align: left;
  color: #2d3d57 !important;  
  font-size: 18px;  
  }

.div {
  background-color: #ffffff !important;
  padding-bottom: 2000px;
}

.card.card-faq {    
  width: 100%;
  word-wrap: break-word;
  background-color: #ffffff !important;
  background-clip: border-box;
  border: 2px 1px 2px 1px solid !important;
  color: #2d3d57 !important;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;   
  opacity: 90%!important;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 5px #F5F4F6 !important;
  -moz-box-shadow: 3px 3px 10px 5px #ffffff !important;
  -webkit-box-shadow: 0px 0px 5px 0px black !important;
  border-radius: 50px;
  z-index: 1;
}

.accordion>.card:not(:last-of-type) {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  opacity: 90% !important;
}

.accordion>.card:not(:first-of-type) {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  opacity: 90% !important;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.card-header {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 20px;
  margin-bottom: -1px;
  background-color: #ffffff !important;   
 }

 .body-faq {
   color: #636363 !important;
   font-weight: 200;
   font-size: 16px;
   opacity:100%;
 }

.duvidas {
  text-align: center;
  color: #2d3d57 !important;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 32px;
}

 .flex-box {
  background-color: #ffffff !important;
}

 .content-box {
  background-color: #ffffff !important;   
  } 

  .jumbotron {
    padding: 0px;
    margin-bottom: 0rem;
    background-color: #e9ecef !important;
    border-radius: .0rem;
  }

  .btn.btn:focus {     
    outline: none;
    box-shadow: none;
    }

  .div.col-6 {
    margin: auto;
    padding-bottom: 360px;
  }
  
  .imgFaq {
    top: 56%;
    left: 54%;
    position: absolute;
    width: 70%;
}