
.btn.btn-primary {
  background-color: #f4f4f4;
  color: #2d3d57;
  font-size: 1.5rem;
}

.iconFaq {
 position: absolute;
  right: 20px;
  top: 27px;
}

.iconFaqActive {
  transform: rotate(180deg);
  transition: 0.5s;
}

.imgFaq {
  top:82%;
  left: 90%;
  position: absolute;
  width: 50%;
}

.btn.btn {
  width: 95%;
  text-align: left;
  color: #2d3d57;
  font-size: 18px;
  }

.div {
  background-color: #ffffff;
  padding-bottom: 2000px;
}

.card {
  width: 100%;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 2px 1px 2px 1px solid;
  color: #2d3d57;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  opacity: 0.9 !important;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 5px #F5F4F6;
  -moz-box-shadow: 3px 3px 10px 5px #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px black;
  border-radius: 50px;
  z-index: 6;
}

.accordion>.card:not(:last-of-type) {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.accordion>.card:not(:first-of-type) {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #ffffff;
 }

 .body-faq {
   color: #636363;
   font-weight: 200;
   font-size: 16px;
   opacity:100%;
 }

.duvidas {
  text-align: center;
  color: #2d3d57;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: 350;
  font-size: 32px;
}

 .flex-box {
  background-color: #ffffff;
}

 .content-box {
  background-color: #ffffff;
  }

  .jumbotron {
    padding: 0px;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .0rem;
  }

  .btn.btn:focus {
    outline: none;
    box-shadow: none;
    }

  .div.col-6 {
    margin: auto;
    padding-bottom: 50px;
  }

  .imgFaq {
    top:60%;
    left: 85%;
    position: absolute;
    width: 50%;
}
