.container-fluid{
    width: 100%;
    position: relative;
    padding: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    line-height: 30px;
    color: #303c5b;
    background-color: #F5F4F6;
}


.imgCard{
    width: 8rem;
    height: 8rem;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
   
}
.col-sx{
    margin-bottom: 5%; 
    
}

.card {
    width: 450px;
    height: 500px;
    top: 30px;
    bottom: 30px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 5px #F5F4F6;
    -moz-box-shadow: 3px 3px 10px 5px #ffffff;
    -webkit-box-shadow: 1px 1px 10px 1px #98d4cb;
    -o-box-shadow: 3px 3px 50px 5px #26E2C5;
}

.img {
    vertical-align: super;
    border-style: none;
}

.card.title{
    text-align: center;
    margin-top: 500px;
    font-size: 16px;
    margin-bottom: .75rem;
    font-size: 18px;
}

@media only screen and (min-width:280px) and (max-width:768px){
    .card.title{
        font-size: 12px;
        text-align: center;
        margin: 1px;
        margin-top: 1px;
    }
    .text-card{
        font-size: 10px;
        text-align: center;
        padding-bottom: 5%;
    }
    .imgCard{
        width: 25%;
        height: 20%;
    }
    .card {
        width: 80%;
        height: 100%;
        margin-bottom: 20%;
        padding-bottom: 5%;
        display: flex!important;
        justify-content: space-around;
    }
    .container-fluid{
        width: 100%;
    }
  }

  @media only screen and (min-width:768px) and (max-width:1024px){
    .card.title{
       font-size: 14px;
       text-align: center;
    }
    .text-card{
        font-size: 12px;
        text-align: center;
    }
  }
