.div-depositions{
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    line-height: 30px;
    color: #303c5b;
    background-color: #F5F4F6;
}
.avatar{
    width: 10%;
    text-align: center;
}
.card-depositions{
    border-color: aqua;
    border-style: dashed; 
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #26E2C5;
    border-radius: .25rem;
    box-shadow: 1px 1px 1px 5px #26E2C5;
    -moz-box-shadow: 3px 3px 10px 5px #26E2C5;
    -webkit-box-shadow: 1px 1px 40px 1px #0c3f37;
    -o-box-shadow: 3px 3px 10px 5px #26E2C5;
}
.img {
    vertical-align: super;
    border-style: none;

}
.card.title{
    text-align: center;
}