.footerStyle{
    background-color: #3F3D56;
    height: 250px;
    color: whitesmoke;
    text-align: center;
    padding-top: 60px;  
    font-family: 'Montserrat', sans-serif;
    bottom: 5px;
}
.footerStyle-texts{
    padding-top: 20px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
.social-media-icons {
    display: flex!important;
    justify-content: space-around;
    padding-top: 20px;
    align-content: center;    
    padding-bottom: 10px;  
}


