.form {
  display: block;
  width: 50%;
  padding: 12px 20px;
}

.form[type='text'] {
  width: 40%;
}

.form[type='email'] {
  width: 40%;
}

.form[type='number'] {
  width: 40%;
}

.btn.form-button {
  background-color: #333333;
  color: #ffffff !important;
  width: 25%;
  text-align: center;
  font-size: small;
  float: right;
}

.field-input {
  border-radius: 10px;
  width: 100%;
  height: 50px;
}

.modal-content {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
.modal-dialog {
  max-width: 750px;
}
.select-residuo {
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: lightgray;
  height: 50px;
  color: gray;
  width: 100%;
}

.form-control {
  width: 100%;
}
.col {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.quant {
  margin-bottom: 15px;
}
.residue-quantity {
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
}

.residue-measure {
  padding-left: 0px;
  margin-left: 0px;
}
