div.acceptance-content {
  margin: 2.5vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 2.5fr 2.5fr;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

button.acceptance-close-btn {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
  color: #505051;
  background-color: transparent;
  border: none;
  padding: 0;
  align-self: start;
}

h3.acceptance-title {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: clamp(1.5rem, 2.5vw, 2.3rem);
  font-weight: bold;
  color: #303c5b;
  align-self: center;
  margin: 0;
}

p.acceptance-text {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  color: #505051;
  font-size: clamp(1rem, 1.7vw, 1.8rem);
  margin: 0;
  line-height: 2rem;
}

br.break-title {
  display: none;
}

br.break-mobile {
  display: none;
}

@media only screen and (max-width: 375.5px) {
  br.break-mobile {
    display: inline;
  }
}

@media only screen and (max-width: 451px) {
  div.acceptance-content {
    grid-template-rows: 1fr 2fr;
  }
}

@media only screen and (min-width: 426px) and (max-width: 454.5px) {
  br.break-mobile {
    display: inline;
  }
}

@media only screen and (max-width: 464px) {
  br.break-title {
    display: inline;
  }
  br.break-line {
    display: none;
  }
}
