.flex-box {
  display: flexbox;
  justify-content: center;
}
.container-box {
  height: 100%;
  background-color: #ffffff;

}
.content-box {
  color: #303c5b;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  background-color: #ffffff;
}
