.flex-box {
  display: flex;
  justify-content: center;
}
.container-box {
  height: 500px;
  background-color: #E6E6E6;
}
.content-box {
  color: #303c5b;
  font-family: Arial; 
  background-color: #E6E6E6;
  height: 500px;
}
